@import "tailwindcss";

@theme {
  /* Paleta NyC */
  --color-brand-primary: #78ccd0;
  --color-brand-title: #1e2352;
  --color-brand-accent: #a8dbde;
  --color-brand-background: #f0f9fa;
  --color-brand-text: #1e2352;

  /* Tipografía Sora */
  --font-sora: var(--font-sora);
}

body {
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  font-family: var(--font-sora), sans-serif;
}
